*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --title-purple: #4e3969;
    --title-header: #fa9110;
    --background-container: #f6f5f3;
}

/* /region utilities */

.container{

    width: 480px;
    max-width: 100%;
    margin: auto;
    background-color: #f6f5f3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

.social-btn{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: gray 10px;
}

/* /endregion utilites */

/* /region header */

header{

    h1{
        color: #fa9110;
        text-align: center;
        padding: 1rem 2rem;
        font-family: "Nerko One", serif;
        font-size: 3rem;
    }
}

/* /endregion header */

/* /region main */

.title-section{

    .row{

        .col-12{

            h4{
                color: lightgray;
                font-size: 300;
            }

            h2{
                padding-top: 0.5rem;
                color: #4e3969;
                
                span{
                    display: none;
                }
            }
        }
    }
}

.container-img{

    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    .col-12{
        img{
            width: 100%;
            
        }
    }
}

.container-recipe{
    
    margin-left: 20px;
    margin-right: 20px;
    background-color:white;
    .col-12{

        h3{
            padding-bottom: 1.5rem;
        }

        ul{
            list-style: none;
            
            li{
                padding-top: 0.5rem;
            }
        }
    }
}

.social-bar{
    justify-content: space-between;

    .social-btn{

        i{
            font-size: 1.5rem;
        }

        b{
            display: none;
        }
        
    }
}

.banner{
    padding: 1rem;

    .col-12{
        display: none;
    }

    p{
        padding: 1rem 0;
    }

}

.col-12{
    padding: 1rem;
    align-items: center;

    img{
        width: 100%;
    }
}

.container-presentation{

        margin-left: 20px;
        margin-right: 20px;
    .col-12{1

        .line{
            height: 0.5rem;
            background-color: orange;
            border: 1px solid orange;
        }

        .col-12{
            
            img{
                width: 100%;
            }
        }
    }
}

/* #endregion main */

/* #region footer */

.section-footer{
    background-color: #4e3969;
    .copyright{
        color: white;
        font-size: small;
        text-align: center;

        p{
            margin-top: 1rem;
        }

        ul{
            list-style: none;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;

            a{
                color: white;
            }
            

        }
    }
}

/* #endregion footer */

/* #region-responsive */

@media screen and (min-width:768px){ 

    header{
        h1{
            text-align: left;
        }
    }
    .container{
        width: 720px;
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }

    .title-section{

        .row{

            .col-12{
                
                h2{
                    font-size: 2.5rem;

                    .display{
                        display: inline-block;
                    }
                }
            }
        }
    }

    .container-recipe{

        .col-12{

            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
            }
        }
    }

    .social-btn{
        padding: 0.5rem 3rem;
    }

    .banner{
        
        .col-12{
            display: block;
            width: 100%;
        }
    }

    .container-presentation{
        
        .col-12{

            .float{
                float: left;
                margin-right: 20px;
            }

            span{
                display: inline;
            }
        }
    }

}

/* /media-screen 768px */

@media screen and (min-width:992px){

    .container{
        width: 944px;
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }

    header{
        h1{
            font-size: 3rem;
        }
    }

    .container-img{

        .col-lg-8{
            width: calc(100% / 12 * 8);
        }
    }

    .container-recipe{
    
    }
}